.idea/ #IDEA configuration files
\.idea/workspace\.xml
CMakeFiles/
src/CMakeFiles/
test/CMakeFiles/


freeglut/bin/x64/2Be3_Engine\.exe

freeglut/bin/x64/2Be3_Engine\.ilk

freeglut/bin/x64/2Be3_Engine\.pdb
